<style>
    #diviKryesor {
        background-color: green !important;
        font-family: Verdana;
        height: 200px;
    }

    .tjere {
        background-color: blue;
        color: white;
        opacity: 0.5;
    }
</style>

@*<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p> Studente a jeni mire.</p>
<p> Studente a jeni mire.</p>
<p> Studente a jeni mire.</p>
<p> Studente a jeni mire.</p>
<p> Studente a jeni mire.</p>*@
<div style="padding: 20px; color: white; background-color: red; width: 200px; height: 100px;  border: 1px solid black;">
    Kastriot Gjoka
</div>
<p style="margin-top:0px ">
    Leron Berisha
</p>
<p>
    <label for="perdorusi">Perdorusi</label>
    <input id="perdorusi" type="text"/>
</p>
<p><input type="email" /></p>
<p><input type="file" /><p>
<form method="post">
    <div>
        <label for="perdorusi1">Perdoruesi</label>
        <input id="perdorusi1" type="text"/>
    </div>
    <div>
        <label for="pass">Fjalekalimi</label>
        <input id="pass" type="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Dergo" id="submit"/>
    </div>
</form>

<div id="diviKryesor">
    Permbajtja e divit kryesor
</div>

<div class="tjere">
    AAA
</div>

<div class="tjere">
    BBBB
</div>

<a href="https://aab-edu.net/">Kolegji AAB</a>
<a asp-controller="Profesor" asp-action="Index" >Profesoret</a>
